/*
0-600px: PHONE
600-900px: Tablet Portrait
900-1200px: Tablet Landscape
1200-1800px: Our normal styles apply
1800px++ : Big Desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  box-sizing: border-box;
  padding: 3rem;
  overflow-x: hidden; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #A9A9A9; }

.heading-primary {
  color: #c32c34;
  text-transform: uppercase;
  /* to refresh the element to orginal after animation */
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 15px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3;
        animation-delay: 3s; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-weight: 600;
        display: inline-block; } }
    @media (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 1.2rem;
        font-size: 2rem;
        text-align: center; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ae4247, #696969);
  -webkit-background-clip: text;
  letter-spacing: 2px;
  color: transparent;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase; }
  .heading-tertiary__work {
    display: inline-block;
    color: black;
    font-size: 2.5rem; }

.paragraph {
  font-size: 1.3rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-2 {
  margin-bottom: 2rem !important; }

.u-margin-left-1 {
  margin-left: 4rem !important; }

.u-text-center {
  text-align: center !important; }

.u-margin-top {
  margin-top: 1rem !important; }

.header {
  height: 95vh;
  background-image: url("../img/shalhero.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70vh); }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      background-position: right; } }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    height: auto; }
  .header__logo {
    height: 75px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 37.5em) {
      .header__text-box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-right: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-2:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 100% !important; } }
  .row .col-1-of-3 {
    width: calc( (100% - 2 * 6rem) / 3);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-3:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100% !important; } }
  .row .col-1-of-4 {
    width: calc( (100% - 3 * 6rem) / 4);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-4:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: 100% !important; } }

.footer {
  background-color: #333333;
  padding: 7rem 0;
  font-size: 1.4rem;
  margin-top: -7rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer h3 {
    color: #FFFFFF; }
  .footer__data {
    row-gap: .75rem; }
  .footer__logo-box {
    text-align: center;
    margin-top: -5rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 20rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .footer__logo {
        margin-left: 2rem; } }
  .footer__information {
    list-style: none;
    padding: 2rem auto;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    color: aliceblue;
    text-align: center; }
    @media (max-width: 56.25em) {
      .footer__information {
        width: 100%;
        padding: 1rem auto;
        text-align: left; } }
    @media (max-width: 37.5em) {
      .footer__information {
        text-align: left;
        margin-right: auto; } }
    .footer__information a {
      text-decoration: none;
      color: aliceblue; }
    .footer__information--icon {
      font-size: 2.7rem;
      margin-bottom: .5rem;
      margin-right: 1rem;
      padding-right: 2rem;
      display: inline-block;
      background-image: linear-gradient(to right, #ae4247, #696969);
      -webkit-background-clip: text;
      color: transparent; }
  .footer__copyright {
    text-align: center;
    color: #c32c34;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 2rem;
    border-top: 2px solid black;
    padding-top: 4rem; }
    .footer__copyright a {
      text-decoration: none; }
    .footer__copyright span {
      color: black;
      font-weight: bold; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FFFFFF;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ae4247, #696969);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #c32c34;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #A9A9A9;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(195, 44, 52, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(195, 44, 52, 0.2); }

.btn--white {
  background-color: #c32c34;
  color: #000;
  font-size: 1.6rem; }
  .btn--white::after {
    background-color: #c32c34; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #c32c34;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #c32c34;
  padding: 5px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #c32c34;
  color: #FFFFFF;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    @media (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.3333333%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.5rem solid #c32c34;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.product__card {
  display: grid;
  position: relative; }
  .product__card:hover .product__img {
    transform: translateY(-0.5rem); }

.product__img {
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: .3s; }

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  font-size: 2.5rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #ae4247, #696969);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 1rem; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box__heading {
    font-size: 1.6rem;
    color: #696969; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  background-color: #696969; }
  .card__side {
    color: #FFFFFF;
    font-size: 2rem;
    height: 52rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #c32c34, #696969), url(../img/digitalmarket.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #c32c34, #696969), url(../img/Animation.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #c32c34, #696969), url(../img/branding.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #c32c34, #696969); }
  .card__details {
    color: #FFFFFF; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }

.reviews {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .reviews {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 75em) {
    .reviews {
      width: 100%;
      padding: 6rem;
      padding-left: 7rem;
      margin-left: -8rem;
      transform: skewX(0); } }
  @media (max-width: 37.5em) {
    .reviews {
      padding: 8rem;
      padding-left: 7rem;
      transform: skewX(0); } }
  .reviews__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1); }
    @media (max-width: 37.5em) {
      .reviews__shape {
        transform: translateX(-3rem) skewX(0); } }
  .reviews__img {
    height: 100%; }
  .reviews__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .reviews__text {
        transform: skewX(0); } }
  .reviews__paragraph {
    position: relative;
    text-align: center;
    padding: 1rem;
    color: #696969; }
    @media (max-width: 37.5em) {
      .reviews__paragraph {
        padding: 1rem; } }

/* Slider */
.customers {
  margin-top: 4rem; }

.slick-slide {
  margin: 20px 20px;
  padding: 2rem 2rem;
  margin-top: 10vh; }

.slick-slide img {
  width: 75%; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/* .slick-arrow.slick-hidden {
      display: none;
  } */
.section-about {
  background-color: #FFFFFF;
  padding: 20rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.product-section {
  background-color: #FFFFFF;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  background-color: #FFFFFF;
  padding: 20rem; }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 15rem 0; } }
  @media (max-width: 37.5em) {
    .section-features {
      margin-bottom: 0.2rem; } }

.section-about {
  background-color: #FFFFFF;
  padding: 6rem 0;
  margin-top: -10vh; }
  .section-about__photo {
    width: 85%;
    border-radius: 2px;
    animation: moveInRight 1s ease-out; }
    .section-about__photo:hover {
      transform: rotateY(180deg); }
    @media (max-width: 56.25em) {
      .section-about__photo {
        margin-top: 7rem; } }
  .section-about__heading {
    text-align: center; }
  .section-about__details {
    color: #696969;
    font-size: 2rem;
    margin-top: 1.5rem; }
    .section-about__details-description {
      display: inline-flex; }
    .section-about__details-icon {
      background-image: linear-gradient(to right, #ae4247, #696969);
      -webkit-background-clip: text;
      color: transparent;
      margin-right: 1rem;
      margin-top: 0.5rem; }
  .section-about p {
    color: #696969;
    font-size: 1.6rem; }

.section-services {
  background-color: #FFFFFF;
  padding: 25rem 10rem 40rem; }
  @media (max-width: 56.25em) {
    .section-services {
      padding: 20rem 10rem 0; } }

.section-reviews {
  padding: 30rem;
  margin-top: -10vh;
  background-color: #FFFFFF; }
  @media (max-width: 56.25em) {
    .section-reviews {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-reviews {
      margin-top: 2rem;
      float: center; } }
