$color-grey-dark: #A9A9A9;
$color-grey-dark-1: #333333;
$color-white: #FFFFFF;
$color-black: #000;

$color-grey-light-1:#F7F7F7;

$color-primary: #c32c34;
$color-primary-light:#ae4247;
$color-primary-dark: #696969;

//FONT
$default-font-size: 1.6rem;
$medium-font-size: 2rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;