.reviews {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(tab-land) {
        width: 100%;
        padding: 6rem;
        padding-left: 7rem;
        margin-left: -8rem;
        transform: skewX(0);
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        box-shadow: 0 3rem 6rem rgba($color-black, .1);

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height: 100%;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__paragraph {
        position: relative;
        text-align: center;
        padding: 1rem;
        color: $color-primary-dark;

        @include respond(phone) {
            padding: 1rem;
        }
    }
}