.section-about {
    background-color: $color-white;
    padding: 20rem 0;
    margin-top: -20vh;
}

.product-section {
    background-color: $color-white;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    background-color: $color-white;
    padding: 20rem;
    margin-top: -17vh;
    margin-bottom: -17vh;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);
}

.section-about {
    background-color: $color-white;
    padding: 6rem 0;
    margin-top: -10vh;

        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);

    &__photo {
        width: 85%;
        border-radius: 2px;
        &:hover {
            transform: rotateY(180deg);
        }
    }

    &__heading {
        text-align: center;
    }

    &__details {
        color: $color-primary-dark;
        font-size: $medium-font-size;
        margin-top: 1.5rem;

        &-description {
            display: inline-flex;
        }

        &-icon {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text; 
            //  .2rem
            color: transparent;
            margin-right: 1rem;
            margin-top: 0.5rem;
        }
    }

    p {
        color: $color-primary-dark;
        font-size: $default-font-size;
    }
}

.section-services {
    background-color: $color-white;
    padding: 25rem 10rem 40rem ;
        
}


.section-reviews {
    padding: 15rem 0;
    background-color: $color-grey-light-1;
    margin-top: -20vh;
}
