.section-about {
    background-color: $color-white;
    
    padding: 20rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.product-section {
    background-color: $color-white;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    background-color: $color-white;
    padding: 20rem;
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);

    @include respond(tab-port) {
        padding: 15rem 0;
    }

    @include respond(phone) {
        margin-bottom: 0.2rem;
    }
}

.section-numbers {
    background-color: $color-white;
    padding: 20rem;
    margin-top: -30rem;

    @include respond(tab-port) {
        padding: 15rem 0;
        margin-top: 8rem;
    }

    @include respond(phone) {
        margin-bottom: 0.2rem;
    }
}

.section-about {
    background-color: $color-white;
    padding: 6rem 0;
    margin-top: -10vh;
    

        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80vh);

    &__photo {
        width: 85%;
        border-radius: 2px;
        animation: moveInRight 1s ease-out;

        &:hover {
            transform: rotateY(180deg);
        }

        @include respond(tab-port) {
            margin-top: 7rem;
        }

        @include respond(phone-small) {
            margin-top: 30rem;
        }
    }

    &__heading {
        text-align: center;
    }

    &__details {
        color: $color-primary-dark;
        font-size: $medium-font-size;
        margin-top: 1.5rem;

        &-description {
            display: inline-flex;
        }

        &-icon {
            background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            -webkit-background-clip: text; 
            //  .2rem
            color: transparent;
            margin-right: 1rem;
            margin-top: 0.5rem;
        }
    }

    p {
        color: $color-primary-dark;
        font-size: $default-font-size;
    }
}

.section-services {
    background-color: $color-white;
    padding: 25rem 10rem 40rem ;

    @include respond(tab-port) {
        padding: 20rem 10rem 0;
    }

}


.section-reviews {
    padding: 30rem ;
    margin-top: -10vh;
    background-color: $color-white;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    @include respond(phone) {
        margin-top: 2rem;
        float: center;
    }
}
